<style>
	h1 {
		padding-top: 20px;
		padding-left: 20px;
	}
	h3 {
		padding: 30px;
		margin-right: 150px;
		margin-top: -10px;
	}
</style>
<h1>About SoundSeeker</h1>
<h3>Our mission is to provide the user with the sounds of the artists playing at
	their local venues! If the artist or venue interests the user they can further
	examine the show on a page that uses the Eventful API to provide the date &
	time, all listed performers, price, a link to purchase tickets, as well as an
	embedded Soundcloud player of some of the artists top hits!</h3>
