<style>
	h1 {
		padding-top: 30px;
		padding-left: 20px;
	}
	h5 {
		padding-left: 25px;
	}
	.form-group{
		width: 80%
	}
</style>

<h1>Contact Us!</h1>
<h5>We would love to hear your feedback!</h5>
<form>
  <fieldset class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </fieldset>
  <fieldset class="form-group">
    <label for="exampleTextarea">Feedback</label>
    <textarea class="form-control" id="exampleTextarea" rows="5"></textarea>
  </fieldset>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
