<!DOCTYPE html>
<html>
<head>
    <title>primascolto</title>
    <link rel="icon" type="favicon" href="http://colinchan.net/images/chan.png">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>
  <!-- <nav>
    <ul class="nav_content">
      <li class="nav_item">
        <a href="http://colinchan.net/"><img id="logo" src="http://colinchan.net/images/chan.png"></a>
      </li>
      <li class="nav_item">
        <a href="/">Portfolio</a>
        <ul class="hidden">
          <li><a href="http://colinchan.net/games/blackjack.html" target="_blank">BlackJack</a></li>
          <li><a href="http://siteseer.colinchan.net/" target="_blank">SiteSeer</a></li>
          <li><a href="http://soundseeker.colinchan.net/" target="_blank">SoundSeeker</a></li>
          <li><a href="http://colinchan.net/map.html">World Travels</a></li>
        </ul>
      </li>
      <li class="nav_item">
        <a href="#">About Me</a>
        <ul class="hidden">
          <li><a href="http://colinchan.net/blog.html" target="_blank">Blog</a></li>
          <li><a href="http://colinchan.net/images/ColinChanRESUME.pdf" target="_blank">Resum&#233</a></li>
        </ul>
      </li>
    </ul>
  </nav> -->
    <%- body %>
</body>
</html>
